ci:
  autoupdate_schedule: 'monthly'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
        args: ["--config", "pyproject.toml"]
      - id: ruff
        args: ["--config", "pyproject.toml", "--fix"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-builtin-literals
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["--rcfile", ".shellcheckrc"]
